.slider-content a {
    text-decoration: none;
}

#main-wrapper, #main-header, #main-slider, #main-content,
#main-footer, #main-menu-top {
	display: inline-table;
}

.title-tab-link h1 {
    width: 100%!important;
}

div.article {
    padding: 30px 0 20px 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

div.article p, div.article ul {
    text-align: justify;
    padding-right: 20px;
    font-size: 14px;
    color: #2e2e2e;
    line-height: 1.5;
    margin-bottom: 20px;
}

.filter-check {
    column-count: 2;
    -webkit-column-count: 2;
}

div.city-list {
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-count: 4;
    max-height: 400px;
    overflow-y: scroll;
}

.service-block {
    width: 460px;
}

.main-block .clientage-text p {
    width: 300px;
    float: left;
}
.clientage-text {
    height: 130px;
    overflow: hidden;
}

.write-reviews {
    margin-bottom: 30px;
}

.calculator-block-bottom .text-sel {
    padding-top: 5px;
}

.check-calcul {
    padding-top: 5px;
}

.check-calculator ol {
    display: inline-block;

}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.background-color {
    background-color: #2d2d2d;

}

.buy-card {
    margin-top: 0!important;
}

.checkout .as-credit {
    font-family: Arial, sans-serif;
    font-size: 12px !important;
    color: #6d6d6d !important;
    font-style: italic !important;
    text-decoration: none;
    border-bottom: 1px dashed;
}

