.content-mini a.img-link {
    float: left;
}

.digits {
    margin-left: 15px;
    margin-top: 15px;
}
.discount-login-not p {
    width: 62%;
    float: left;
}

.return {
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ed1c24;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 735px;
    margin-bottom: 15px;
    padding: 7px 10px 7px 10px;
    font: normal normal normal 13.3333330154419px/normal Arial;
}

.checkout input[type=submit] {
    text-transform: uppercase;
}

.author-site {
    margin-top: 20px;
    right: 0px;
    padding-right: 0px;
}

.block-copyright p.copyright {
    width: 45%;
    float: left;
}

.payment-sys {
    float: left;
    margin-top: 10px;
}

.logo {
    margin-top: 10px;
}

.block-logo {
    height: 125px;
}

.block-logo p {
    line-height: 30px;
}

.teble-name.basket-my-table table .table-text .name-clock {
    max-width: 250px;
}

.no-price-link {
    z-index: 5;
}

.banner_left {
    width: 230px;
    height: auto;
    float: left;
}

.content-mini .title-mini {
    margin-left: -35px;
}

#block-main-news-about > section + section {
    overflow: hidden;
}

.card-item-price {
    overflow: hidden;
}

.slider-home .name-goods a {
    min-height: 32px;
}

.author-site {
    padding-bottom: 10px;
}

.slider-content a {
    text-decoration: none;
}

#main-wrapper, #main-header, #main-slider, #main-content,
#main-footer, #main-menu-top {
    display: inline-table;
}

.title-tab-link h1 {
    width: 100% !important;
}

div.article {
    padding: 30px 0 20px 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

div.article p, div.article ul {
    text-align: justify;
    padding-right: 20px;
    font-size: 14px;
    color: #2e2e2e;
    line-height: 1.5;
    margin-bottom: 20px;
}

.filter-check {
    column-count: 2;
    -webkit-column-count: 2;
}

div.city-list {
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-count: 4;
    max-height: 400px;
    overflow-y: scroll;
}

.service-block {
    width: 460px;
}

.main-block .clientage-text p {
    width: 300px;
    float: left;
}

.clientage-text {
    height: 130px;
    overflow: hidden;
}

.write-reviews {
    margin-bottom: 30px;
}

.calculator-block-bottom .text-sel {
    padding-top: 5px;
}

.check-calcul {
    padding-top: 5px;
}

.check-calculator ol {
    display: inline-block;

}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.background-color {
    background-color: #2d2d2d;

}

.buy-card {
    margin-top: 0 !important;
}

.checkout .as-credit {
    font-family: Arial, sans-serif;
    font-size: 12px !important;
    color: #6d6d6d !important;
    font-style: italic !important;
    text-decoration: none;
    border-bottom: 1px dashed;
}

