

.contact-slider .flex-container {
   height: 319px;
  
}

.contact-slider .flexslider {
	margin: 0;
	padding: 0;
}


.contact-slider .flexslider .slides img {
	
	display: block;
}


.contact-slider .slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


.contact-slider .flexslider {
	position: relative;
	zoom: 1;
}



.contact-slider .flexslider .slides { zoom: 1; }




.contact-slider .flex-direction-nav a {
	display: block;
	position: absolute;
	margin: -180px 0 0 0;
	width: 30px;
	height: 31px;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	background-image:url("../sliders/next-prev.png") ;
    background-repeat: no-repeat;
}

.contact-slider .flex-direction-nav a:before {
	display: block;
	position: absolute;
	content: '';
	width: 28px;
	height: 31px;
}

.contact-slider .flex-direction-nav a:after {
	display: block;
	position: absolute;
	content: '';
	width: 28px;
	height: 31px;
	top: 35px;
}

.contact-slider .flex-direction-nav .flex-next {
	right: 0;
    background-position: right 0;
}

.contact-slider .flex-direction-nav .flex-next:hover {
    background-position: right bottom;
}

.contact-slider .flex-direction-nav .flex-prev {
	left: 0;
}

.contact-slider .flex-direction-nav .flex-prev:hover {
    background-position: 0 bottom;
}



.contact-slider .flexslider .flex-control-nav {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	margin: 0 0;
    visibility: hidden;
    outline: 2px solid blue;
}

.contact-slider .flex-control-nav li {
	display: inline-block;
	zoom: 1;
}

.contact-slider .flex-control-paging {
    display: none;
}
