.slider-home .wrap { 
	   position: relative;
       
        margin:0 !important;
         background: transparent;
         }
    
  .slider-discount {
    float: left;
    padding-right: 10px;

  }   
    
         
 .slider-discount .wrap  {
    width: 120px;
    margin: 0;
    padding: 5px 0 13px 10px;
    
   background-position: center 0;
  
    
 } 
 
 .slider-discount .wrap .red {
    font-size: 12px;
    padding-top: 2px;
 }
 
  .slider-discount .radio {
    position: absolute;
    left: 2px;
    top: 22px;
  }  
         
.slider-home .wrap div.slider-two    { 
	  
        position:relative; 
        width: 960px;
      
         margin:0 ;
        
        }
        
 .block-home-news .slider-home-news .wrap div.slider-two.slider-news   {
    position:relative; 
        width: 960px;
        height: auto !important;
         margin:0 ;
        
 }
 
 .main-block-advantages .wrap .slider-action  {
    position:relative; 
        width: 960px;
        height: auto !important;
         margin:0 ;
        
 }
        
 .slider-discount .wrap div.slider-two {
    width: 90px;
    height: 104px;
    margin: 10px 0 0 15px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  

 } 
 
  .slider-discount .wrap div.slider-two.slider-blue {
    background-color: #0ab5fa;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);  
  }
  
  .slider-discount .wrap div.slider-two.slider-blue .gradient  {
  
    position: absolute !important;
    bottom: 0;
    height: 37px;
    background: #0396d1; /* Old browsers */
    background: -moz-linear-gradient(top,  #0396d1 0%, #026a93 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0396d1), color-stop(100%,#026a93)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0396d1 0%,#026a93 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0396d1 0%,#026a93 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0396d1 0%,#026a93 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0396d1 0%,#026a93 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0396d1', endColorstr='#026a93',GradientType=0 ); /* IE6-9 */
  }
  
  .slider-discount .wrap div.slider-two.slider-blue li .nums {
    padding-top: 8px;
     font-family: 'Avalanche-Normal', sans-serif;
     font-size: 30px;
     color: #ffffff;
     text-shadow: 1px 1px 0 rgba(2,105,146,1);
  }
  
  .slider-discount .wrap div.slider-two.slider-blue .text-star {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin: 3px 6px 0 6px;
    text-shadow: 1px 1px 0 rgba(2,105,146,1);
  }
  
   .slider-discount .wrap div.slider-two.slider-blue .text-star:after,
   .slider-discount .wrap div.slider-two.slider-blue .text-star:before
    {
    position: absolute;
    display: block;
    top: 0;
    content: "";
    width: 12px;
    height: 11px;
    background-image:url("../images/star-m.png") ;
    background-repeat: no-repeat;
   }
   
   .slider-discount .wrap div.slider-two.slider-blue .text-star:after {
    right: 0;
   }
  
   .slider-discount .wrap div.slider-two.slider-blue .gradient p {
    padding-top: 5px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 12px;
   }
 
  .slider-discount .wrap .corner {
    position: absolute;
    left: 9px;
    top: 18px;
  }
 
 .slider-discount .wrap .corner.white:after {
    position: absolute;
    color: #ffffff;
    display: block;
    content: "";
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-right: 6px solid #ffffff; 
    border-bottom: 7px solid transparent;
    
}

 .slider-discount .wrap .corner.blue:after {
    position: absolute;
    color: #0ab5fa;
    display: block;
    content: "";
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent; 
    border-right: 6px solid #0ab5fa; 
    border-bottom: 7px solid transparent;
    
}  
         

.jcarousel-wrapper {
    margin: 0 auto;
    position: relative;
   
}



.jcarousel {
    position: relative;
    overflow: hidden;
    
}

.slider-discount .jcarousel {
    position: relative;
   
    height: 100px;


}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    position: relative;
    width: 238px;
    height: 370px;
    float: left;
    text-align: center;
    border: 1px solid #dadada;
    background-color: #ffffff;
}

.slider-discount .jcarousel li {
    position: relative;
    width: 90px !important;
    height: 105px !important;
    border: none;
    background-color: transparent;
}

.block-home-news .jcarousel li {
    position: relative;
    width: 217px !important;
    height: auto !important;
    border: none;
    text-align: left;
    padding-left: 0;
    margin-left: 20px;
    background-color: transparent;
}

 .main-block-advantages .jcarousel.slider-two.slider-action ul li {
    position: relative;
    width: 960px !important;
    height: auto !important;
    border: none;
    text-align: left;
    padding-left: 0;
    margin-left: 20px;
    background-color: transparent;
    
}

.main-block-advantages .jcarousel.slider-two.slider-action .action-page ol li {
    width: auto !important;
}

.block-home-news .jcarousel li ol li {
    width: auto !important;
}


.slider-discount .jcarousel li img {
    width: 56px;
    height: 76px;
    margin-top: 5px;
}

.content-basket .jcarousel li {
    width: 190px;
    height: 350px;
   
}

.content-basket .browsing {
    top: 20%;
}

.slider-sitebar .jcarousel li {
    width: 250px;
    border: none;
}

.slider-sitebar.two .nal{
    position: relative;
    width: 70%;
    margin-left: 5px; 
    text-align: left;
} 

.slider-sitebar .jcarousel li:hover{
    border: none;
}

.slider-sitebar .jcarousel-pagination {
   
   top: -10px;
}

.slider-sitebar .jcarousel-pagination a {
    width: 11px ;
    height: 10px;
    margin: 0 2px;
    text-indent: -9999px;
    background-image:url("../sliders/pag.png") ;
    background-repeat: no-repeat;
    
}

.slider-sitebar .jcarousel-pagination a.active, .slider-sitebar .jcarousel-pagination a:hover{
    background-position: right 0;
}


.jcarousel li:hover {
    border: 1px solid #11afeb;
    cursor: pointer;
}


.wrap-catalog ul li:hover {
    border: 1px solid #11afeb;
    cursor: pointer;
}

.slider-discount .jcarousel li:hover, .block-home-news .jcarousel li:hover{
    border: none;
}

.jcarousel li a {
    text-decoration: none;
}

.jcarousel bg img {
    width: 219px;
    height: 219px;
}



.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    display: block;
    top: 40%;
    width: 17px;
	height: 54px;
    background-image:url("../sliders/next-prev-home.png") ;
    background-repeat: no-repeat;
    opacity: 0.5;
}



.block-home-news .wrap .jcarousel-control-prev,
.block-home-news .wrap .jcarousel-control-next
 {
    width: 30px;
	height: 23px;
    top: -100px;
    background-image:url("../sliders/prev-next-news.png") ;
    background-repeat: no-repeat;
    opacity: 1;
}

.main-block-advantages .wrap .jcarousel-control-prev,
.main-block-advantages .wrap .jcarousel-control-next
 {
    position: absolute !important;
    width: 30px;
	height: 23px;
    top: -112px;
    background-image:url("../sliders/prev-next-action.png") ;
    background-repeat: no-repeat;
    opacity: 1;
}


.slider-sitebar .jcarousel-control-prev,
.slider-sitebar .jcarousel-control-next {
    display: block;
	position: absolute !important;
	width: 30px;
	height: 31px;
	top: 40%;
	cursor: pointer;
	text-indent: -9999px;
	background-image:url("../sliders/next-prev.png") ;
    background-repeat: no-repeat;
    opacity: 0.5;
}


.slider-sitebar .jcarousel-control-next {
    right: 0;
}


.block-home-news .wrap .jcarousel-control-prev:hover,
.block-home-news .wrap .jcarousel-control-next:hover {
    opacity: 0.7;
}

.block-home-news .wrap .jcarousel-control-prev, .main-block-advantages .wrap .jcarousel-control-prev{
    right: 32px;
    background-position: 0 0;
}

.block-home-news .wrap .jcarousel-control-next, .main-block-advantages .wrap .jcarousel-control-next {
    right: 0;
    background-position: right 0;
}



.slider-discount .jcarousel-control-prev,
.slider-discount .jcarousel-control-next {
    position: absolute;
    display: block;
    top: 40%;
    width: 5px;
	height: 10px;
    background-image:url("../sliders/left-right-mini.png") ;
    background-repeat: no-repeat;
    opacity: 0.5;
   
}



.slider-home .jcarousel-control-prev {
    left: 0;
    background-position: 0 0;
}

.slider-discount .jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 0;
    background-position: right 0;
}

.slider-discount .jcarousel-control-next {
    right: 5px;
}

.jcarousel-control-prev:hover {
    opacity: 1;
}


.jcarousel-control-next:hover {
    opacity: 1;
}
