.slider-home .wrap { 
	   position: relative;
       width: 100%;
        margin:0 !important;
         background: transparent;
         }
         
   
         
.slider-home .wrap div.slider-two    { 
	   overflow:hidden;
        position:relative; 
        width: 960px;
        height: 380px;
         margin:0 ;
        
        }

.jcarousel-wrapper {
    margin: 0 auto;
    position: relative;
   
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 380px;
    /*outline: 1px solid red;*/
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    position: relative;
    width: 238px;
    height: 370px;
    float: left;
    text-align: center;
    border: 1px solid #dadada;
    background-color: #ffffff;
}

.jcarousel li:hover {
    border: 1px solid #11afeb;
    cursor: pointer;
}

.jcarousel li a {
    text-decoration: none;
}

.jcarousel bg img {
    width: 219px;
    height: 219px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    display: block;
    top: 40%;
    width: 17px;
	height: 54px;
    background-image:url("../sliders/next-prev-home.png") ;
    background-repeat: no-repeat;
    opacity: 0.5;
}



.slider-home .jcarousel-control-prev {
    left: -60px;
    background-position: 0 0;
}

.jcarousel-control-next {
    right: -60px;
    background-position: right 0;
}

.jcarousel-control-prev:hover {
    opacity: 1;
}


.jcarousel-control-next:hover {
    opacity: 1;
}
