
 #container-mini {
    position:absolute !important;
     width:315px;
     height:240px; 
     z-index: 500;
     right: 0;
     top: 22px;
     background-image:url("../sliders/bg-mini.png") ;
     background-repeat: no-repeat;
    
}

.catalog-slider-cleek-buy #container-mini {
     width:502px;
     height:241px;  
     z-index: 500;
     background-image:url("../sliders/mini-bg.png") ;
     background-repeat: no-repeat;
    
} 

#container-mini .sliderbutton {
    position: absolute !important;
    top: 120px;
    width:10px; 
    height:16px;
    z-index: 1000; 
    cursor:pointer;
    background-image: url("../sliders/left-right.png") ;
    background-repeat: no-repeat;
}


 .catalog-slider-cleek-buy #container-mini .sliderbutton {
    top: 110px;
 }

#slideleft {
    
    left: 10px;
    }
 
.catalog-slider-cleek-buy  #slideleft {
    left: 20px;
}
    


#slideright {
    background-position: right 0;
    right: 10px;
    }
    
 .catalog-slider-cleek-buy #slideright {
    right: 30px;
   
 }



#slider-mini {
   
    position:relative; 
    overflow:auto; 
    width:315px; 
    height:240px
    }
    
 .catalog-slider-cleek-buy #slider-mini {
    float:left;
    position:relative; 
    overflow:auto; 
    width:502px;
     height:241px; 
    
    }   
    
#slider-mini ul {
    position:absolute; 
    list-style:none; 
    top:0; 
    left:0
    }
#slider-mini li {
    float:left; 
    width:315px; 
    height:240px
    }

    
.catalog-slider-cleek-buy #slider-mini li {
    float:left; 
    width:502px;
     height:241px; 
    }   

#slider-mini .content-mini {
    margin-left: 30px;
    padding: 10px 0;
   
}



.catalog-slider-cleek-buy #slider-mini .content-mini {
    margin-left: 25px;
}

.content-mini {
    font-family: 'GloberBoldFree', sans-serif;
    color: #000000;
}

.content-mini .title-mini {
    font-size: 18px;
    color: #000000;
    padding-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 20px;
}

.catalog-slider-cleek-buy .content-mini .title-mini {
    text-align: left;
    margin: 20px 0 5px 175px;
    padding-left: 0;
    
}

.content-mini .title-mini a{
    font-size: 18px;
    color: #000000;
    text-decoration: underline;
}

.content-mini .title-mini a:hover {
    text-decoration: none;
}

.content-mini .old-price {
    margin-top: 117px;
    margin-bottom: 3px;
    font-size: 14px;
    color: #000000;
    line-height: 1.2;
    font-family: 'GloberThinFree';
    margin-left: 183px;
    
}

.catalog-slider-cleek-buy .content-mini .old-price {
   
    margin: 0 0 20px 335px !important;
    line-height: 1;
}

.catalog-slider-cleek-buy .content-mini .summ.red {
    color: #ed1b24 !important;
    text-decoration: line-through;
}

.catalog-slider-cleek-buy .content-mini .summ.red-two {
    color: #ed1b24 !important;
}

.catalog-slider-cleek-buy .content-mini p {
    font-family: 'GloberBoldFree', sans-serif;
    color: ;
}

.catalog-slider-cleek-buy .content-mini .old-price {
    margin-bottom: 6px !important;
    font-size: 13px !important;
}

.catalog-slider-cleek-buy .content-mini .catch {
    margin: 17px 0 0 165px;
    padding-left: 50px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
}

.content-mini .old-price span.summ {
    font-size: 14px;
    color: #000000 !important;
    font-family: 'GloberBoldFree', sans-serif;
}

.content-mini .link-sm {
    padding-top: 5px;
    margin-left: 180px;
    
}


.catalog-slider-cleek-buy .content-mini .link-sm {
    margin-left: 175px;
    margin-top: 20px;
}

.catalog-slider-cleek-buy .content-mini .link-sm .one-cleek {
    font-family: 'GloberThinFree';
    color: #ffffff;
    background-color: #2d2d2d;
    margin-right: 10px;
    text-transform: none;
    font-style: normal;
    padding-right: 25px;
    padding-left: 10px;
    background-image:url("../images/click.png") ;
    background-repeat: no-repeat;
    background-position: right 3px;
}

.catalog-slider-cleek-buy .content-mini #rating_2 {
    margin: 0 0 0 170px;
   
}

.content-mini .link-sm a{
    font-family: 'GloberBoldFree', sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 13px 15px 6px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ed1c24;
}

.content-mini .link-sm a:hover {
    background-color: #c70108;
}

.catalog-slider-cleek-buy .content-mini .link-sm .buy {
    padding-left: 30px;
    padding-right: 30px;
}

.catalog-slider-cleek-buy .content-mini .link-sm .buy:hover {
    background-color: #c70108;
}


.content-mini img{
    float: left;
   
}

.catalog-slider-cleek-buy .content-mini img {
    margin: 20px 0 0 10px;
   
}

.content-mini .new-price {
    display: inline-block;
    position: absolute !important;
    top: 65px;
    right: 5px;
    width: 152px;
    height: 94px;
    font-family: 'GloberBoldFree', sans-serif;
    background-image:url("../sliders/new.png") ;
    background-repeat: no-repeat;
    
}

.content-mini .new-price p {
    font-size: 14px;
    margin: 27px 0 0 25px;
    color: #000000;
    line-height: 1.2;
}

.content-mini .new-price p span {
    font-size: 18px;
    color: #ed1c24;
}

.content-mini .new-price p span.rouble {
    font-size: 13px;
}

.catalog-slider-cleek-buy .content-mini .new-price-slider {
    position: absolute !important;
    left: 175px;
    top: 90px;
    font-family: 'GloberBoldFree', sans-serif;
}

.catalog-slider-cleek-buy .content-mini .new-price-slider .new-price-p {
    font-size: 16px !important;
}

.catalog-slider-cleek-buy .content-mini .new-price-slider .new-summ {
    font-family: 'GloberBoldFree', sans-serif;
    font-size: 30px;
    padding-top: 3px;
   
}

.catalog-slider-cleek-buy .content-mini .new-price-slider .new-summ .rouble {
    font-size: 25px;
}
    
