
.container-tab{
	margin:auto;
	max-width:698px;
}

/* TABS */
.accordion-tabs {
	*zoom: 1;
	width: 100%;
	margin-left:0;
	padding-left:0;
}

.accordion-tabs:before, 
.accordion-tabs:after {
    content: " ";
    display: table;
}

.accordion-tabs:after {
    clear: both; 
}
		.accordion-tabs li.tab-head-cont{
			margin-left: 5px;
		}
        
        .accordion-tabs li:first-child{
			margin-left: 0;
		}

	.accordion-tabs li.tab-head-cont:first-child a {
				

	}
    
			.accordion-tabs li.tab-head-cont:last-child a {
				
			}
            
			.accordion-tabs li.tab-head-cont a.a-tab {
				text-decoration:none;
				text-transform: uppercase;
				color: #000000;
				display: block;
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: bold;
                padding: 11px 0;
                width: 167px;
                text-align: center;
                background-color: #e0e0e0;
                
				
			}
            
			.accordion-tabs li.tab-head-cont a.a-tab:hover {
				color: #ed1c24;
                background-color: #ffffff;
			}
            
			.accordion-tabs li.tab-head-cont a:focus {
				outline: none;
			}
            
			.accordion-tabs li.tab-head-cont a.is-active {
				
				color:#ed1c24;
			}
            
		.accordion-tabs li.tab-head-cont .text-tabs {
			
            padding: 20px 30px 30px 30px;
			background-color: #ffffff;
			display: none;
            width:636px;
			overflow: hidden;
			
		}
        

/* RESPONSIVE */
@media screen and (min-width: 40em) {
	.accordion-tabs {
		border: none;
		position: relative; 
	}
		.accordion-tabs li.tab-head-cont {
			display: inline; 
		}
			.accordion-tabs li.tab-head-cont:last-child a {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			} 
			.accordion-tabs li.tab-head-cont a.a-tab{
				display: inline-block;
				vertical-align: baseline;
				zoom: 1;
				*display: inline;
				*vertical-align: auto;
				
			} 
			.accordion-tabs li.tab-head-cont a.is-active {
				background-color: #ffffff;
			
			}
            
            
			.accordion-tabs li.tab-head-cont .text-tabs {
				
				float: left;
				left: 0;
			
			}
				.accordion-tabs li.tab-head-cont section p {
				
				}
}
